bitte_lueften.json
[{"id":"3ba18792.9b8b68","type":"tab","label":"Bitte Lueften","disabled":false,"info":""},{"id":"cb571661.a85b88","type":"e-mail","z":"3ba18792.9b8b68","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"","x":1010,"y":520,"wires":[]},{"id":"76d41062.0971c","type":"function","z":"3ba18792.9b8b68","name":"","func":"var payload=msg.payload;\nvar topic=msg.topic;\n\n// Der Topic des eingehenden \"Message\"-Objektes wird an den String \"humid_status\" angehänt.\nvar humid_status=context.get(\"humid_status\" + topic);\n// Falls die Variable \"humid_status\" noch keinen Wert besitzt wird er im nächsten Schritt aus \"false\" und dem Topic zusammengesetzt.\nif(typeof humid_status==\"undefined\")\nhumid_status=false + topic;\n\n// In diesem Schritt wird der Wert von \"humid_status\" als String in der Variablen \"str_humid_status\" gespeichert, um in der darauffolgende If-Schleife prüfen zu können, ob der String eine bestimmte Zeichenfolge inne hält.\nvar str_humid_status = String(humid_status);\n\n\n// Die jetzige If-Schleife prüft im ersten Moment, ob die Luftfeuchtigkeit (der Payload) über 65% hat und im String \"str_humid_status\" befindet sich die Zeichenkete \"false\"\n// wird der Inhalt der ersten gewscheiften Klammer durchlaufen.\nif (payload>=65 && str_humid_status.includes(\"false\"))\n{\n\n    humid_status=true + topic;\n    context.set(\"humid_status\" + topic,humid_status + topic);\n    return msg;\n}\nif (payload<65 && str_humid_status.includes(\"true\"))\n{\n    humid_status=false + topic;\n    context.set(\"humid_status\" + topic,humid_status + topic);\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":500,"wires":[["40987dae.e3d754","2aca3916.435b46"]]},{"id":"776f07ee.50c448","type":"mqtt in","z":"3ba18792.9b8b68","name":"plan/+/+/+/humidity","topic":"plan/+/+/+/humidity","qos":"2","datatype":"auto","broker":"893c1489.517b48","x":190,"y":500,"wires":[["76d41062.0971c"]]},{"id":"e0e50653.6f57c8","type":"change","z":"3ba18792.9b8b68","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"Bitte Lüften Sie den Raum: \" & msg.topic & \t\t\" Die Luftfeuchtigkeit dort beträgt derzeit: \" & msg.payload & \" % !\" & \" Insbesondere in der aktuellen Corona-Zeit muss auf gute Durchlüftung des Raumes geachtet werden. Viele Grüße, Ihr GPAM\"","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"\"Bitte Raum \" & msg.topic & \" Lüften\"","tot":"jsonata"},{"t":"set","p":"to","pt":"msg","to":"schubilab@gmail.com","tot":"str"},{"t":"set","p":"bcc","pt":"msg","to":"felix.mammendorf@live.de","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":520,"wires":[["cb571661.a85b88"]]},{"id":"40987dae.e3d754","type":"switch","z":"3ba18792.9b8b68","name":">=65","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"65","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":480,"wires":[["e0e50653.6f57c8"]]},{"id":"2aca3916.435b46","type":"switch","z":"3ba18792.9b8b68","name":"<40","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"40","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":540,"wires":[[]]},{"id":"893c1489.517b48","type":"mqtt-broker","z":"","name":"fsmqbroker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]